.photo {
  width: 100%;
  height: 100%;
  position: relative;
}

.photo > div {
  display: block !important;
}

.photo canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.photo picture {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.photo picture img {
  display: block;
}
